<h1>Editing research paper</h1>

<%= render "form", research_paper: @research_paper %>

<br>

<div>
  <%= link_to "Show this research paper", @research_paper %> |
  <%= link_to "Back to research papers", research_papers_path %>
</div>
