<h1>Editing priority list</h1>

<%= render "form", priority_list: @priority_list %>

<br>

<div>
  <%= link_to "Show this priority list", @priority_list %> |
  <%= link_to "Back to priority lists", priority_lists_path %>
</div>
